RiskSimConsoleClient/Service References/RiskSimulators/Simulators1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RiskSimLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RiskSimLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArmyComposition">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllModifier" type="xs:byte" />
      <xs:element minOccurs="0" name="HighestModifier" type="xs:byte" />
      <xs:element minOccurs="0" name="LowestModifier" type="xs:byte" />
      <xs:element minOccurs="0" name="Size" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArmyComposition" nillable="true" type="tns:ArmyComposition" />
</xs:schema>