RiskSimConsoleClient/Service References/RiskSimulatorService/RiskSimulatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RiskSimulatorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://risksimservice.azurewebsites.net/RiskSimulator.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://risksimservice.azurewebsites.net/RiskSimulator.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://risksimservice.azurewebsites.net/RiskSimulator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RiskSimLib" />
      <xsd:import schemaLocation="http://risksimservice.azurewebsites.net/RiskSimulator.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRiskSimulator_SimulateAttack_InputMessage">
    <wsdl:part name="parameters" element="tns:SimulateAttack" />
  </wsdl:message>
  <wsdl:message name="IRiskSimulator_SimulateAttack_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimulateAttackResponse" />
  </wsdl:message>
  <wsdl:message name="IRiskSimulator_GetServiceName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceName" />
  </wsdl:message>
  <wsdl:message name="IRiskSimulator_GetServiceName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IRiskSimulator">
    <wsdl:operation name="SimulateAttack">
      <wsdl:input wsaw:Action="http://tempuri.org/IRiskSimulator/SimulateAttack" message="tns:IRiskSimulator_SimulateAttack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRiskSimulator/SimulateAttackResponse" message="tns:IRiskSimulator_SimulateAttack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceName">
      <wsdl:input wsaw:Action="http://tempuri.org/IRiskSimulator/GetServiceName" message="tns:IRiskSimulator_GetServiceName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRiskSimulator/GetServiceNameResponse" message="tns:IRiskSimulator_GetServiceName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRiskSimulator" type="tns:IRiskSimulator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SimulateAttack">
      <soap:operation soapAction="http://tempuri.org/IRiskSimulator/SimulateAttack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceName">
      <soap:operation soapAction="http://tempuri.org/IRiskSimulator/GetServiceName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RiskSimulatorService">
    <wsdl:port name="BasicHttpBinding_IRiskSimulator" binding="tns:BasicHttpBinding_IRiskSimulator">
      <soap:address location="http://risksimservice.azurewebsites.net/RiskSimulator.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>