RiskSimConsoleClient/Service References/RiskSimulatorService/RiskSimulator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RiskSimLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RiskSimLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://risksimservice.azurewebsites.net/RiskSimulator.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArmyComposition">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllModifier" type="xs:byte" />
      <xs:element minOccurs="0" name="HighestModifier" type="xs:byte" />
      <xs:element minOccurs="0" name="LowestModifier" type="xs:byte" />
      <xs:element minOccurs="0" name="Size" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArmyComposition" nillable="true" type="tns:ArmyComposition" />
  <xs:complexType name="AttackResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AllOutcomeChances" nillable="true" type="q1:ArrayOfKeyValueOfshortdouble" />
      <xs:element minOccurs="0" name="AttackingArmy" nillable="true" type="tns:ArmyComposition" />
      <xs:element minOccurs="0" name="DefendingArmy" nillable="true" type="tns:ArmyComposition" />
      <xs:element minOccurs="0" name="SuccessChance" type="xs:double" />
      <xs:element minOccurs="0" name="Trials" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttackResult" nillable="true" type="tns:AttackResult" />
</xs:schema>