RiskSimConsoleClient/Service References/RiskSimulatorService/RiskSimulator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://risksimservice.azurewebsites.net/RiskSimulator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RiskSimLib" />
  <xs:element name="SimulateAttack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RiskSimLib" minOccurs="0" name="attackingForce" nillable="true" type="q1:ArmyComposition" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RiskSimLib" minOccurs="0" name="defendingForce" nillable="true" type="q2:ArmyComposition" />
        <xs:element minOccurs="0" name="trials" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimulateAttackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RiskSimLib" minOccurs="0" name="SimulateAttackResult" nillable="true" type="q3:AttackResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServiceNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>